name: deploy to dev on merge to main
on:
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: setup

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: Install databricks cli
        uses: databricks/setup-cli@main
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Deploy bundle to Dev
        run: |
          databricks bundle deploy --target dev
      - name: Log deployed resources
        run: |
          echo "=== Deployed Resources ==="
          databricks bundle summary -t dev
      - name: Run Databricks job
        id: run_job
        run: |
          JOB_ID=$(databricks bundle summary -t dev --output json | jq -r '.resources.jobs.example_job.id')
          echo "Job ID: $JOB_ID"
          
          RUN_ID=$(databricks jobs run-now "$JOB_ID" --output json | jq -r '.run_id')
          echo "Run ID: $RUN_ID"
          
          echo "job_id=$JOB_ID" >> $GITHUB_OUTPUT
          echo "run_id=$RUN_ID" >> $GITHUB_OUTPUT
          
      # - name: Wait for job completion
      #   run: |
      #     databricks bundle run ${{ resources.jobs.example_job.id }} --target dev. # This is not working as expected
      
      - name: Verify job output after completion
        run: |
#          WORKSPACES=$(databricks tables get -t dev)
#          echo "$WORKSPACES available"
          TABLE_EXISTS=$(databricks tables get workspace.default.example_output 2>/dev/null && echo "true" || echo "false")
          
          if [ "$TABLE_EXISTS" != "true" ]; then
            echo "Verification failed: table does not exist"
            exit 1
          fi

          echo "Verification succeeded: table workspace.default.example_output exists"