name: deploy to dev on merge to main
on:
  pull_request:
    types: [closed]
    branches:
      - main
jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: setup

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
      DATABRICKS_CLIENT_SECRET: ${{ secrets.DATABRICKS_CLIENT_SECRET }}
      DATABRICKS_CLIENT_ID: ${{ vars.DATABRICKS_CLIENT_ID }

    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: Install databricks cli
        uses: databricks/setup-cli@main
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Deploy bundle to Dev
        run: |
          databricks bundle deploy --target dev