on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  first-workflow:
    name: "First workflow"
    runs-on: "ubuntu-latest"
    env:
      DATABRICKS_AUTH_TYPE: github-oidc
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_CLIENT_ID }}

    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Installs databricks cli
        uses: databricks/setup-cli@main
      - name: Validate bundle
        run: |
          databricks bundle validate -t dev --profile serapie
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_CLIENT_ID }}
